@import 'faq';
@import 'suport';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: auto auto;
    font-family: 'Avenir', sans-serif;
    max-width: 1200px;
}

.text--big {
    font-size: 18px;
    line-height: 28px;
    color: silver;
}

@media screen and (max-width: 768px) {
    .image-text-section {
        display: block;
    }
}



